
<div class="container flex flex-wrap flex-center padding-y-md@xl">

{% for block in section.blocks %}
    <div class="validator-item margin-sm margin-lg@lg flex flex-column align-{{ section.settings.alignment }}">
        <span class="icon {% if section.settings.icon_style != blank %} {{ section.settings.icon_style }} {% endif %} {% if section.settings.icon_color != blank %} icon--accent {% else %} icon--default {% endif %} m0">
            <i class="{% if section.settings.icon_style != blank %} {{ section.settings.icon_style }}{% else %} material-icons-outlined {% endif %} {% if section.settings.icon_size != blank %} {{ section.settings.icon_size }}{% else %} icon--md {% endif %}">{{ block.settings.icon_name }}</i>
        </span>
        <h5 class="text-md font-medium margin-top-xs {{ section.settings.alignment }}">{{ block.settings.title }}</h5>
        {% if block.settings.description != blank %}
            <p class="body-text--md {{ section.settings.alignment }}">{{ block.settings.description }}</p>
        {% endif %}
    </div>
{% endfor %}

</div>


{% schema %}
  {
    "name": "Validator Bar",
    "class": "width-100 stripe--dark", 
    "max_blocks": 6,
    "settings": [
      {
        "type":      "header",
        "content":   "Created by [Latimer Design](https:\/\/latimer.me)",
        "info":      "Need help? [Send an email.](mailto:\/\/bailey@latimer.me)"
      },
      {
        "id": "alignment",
        "type": "select",
        "label": "Content",
        "default": "center",
        "options": [
          { "value": "center", "label": "Center" },
          { "value": "left", "label": "Left" }
        ]
      },
      {
        "type": "select",
        "id": "icon_size",
        "label": "Icon size",
        "options": [
          {
            "value": "icon--md",
            "label": "Default"
          },
          {
            "value": "icon--lg",
            "label": "LG"
          },
          {
            "value": "icon--xl",
            "label": "XL"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "icon_color",
        "label": "Add color"
      },
      {
        "type": "select",
        "id": "icon_style",
        "label": "Icon style",
        "options": [
          {
            "value": "material-icons-two-tone",
            "label": "Two-tone"
          },
          {
            "value": "material-icons-outlined",
            "label": "Outline"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Validation bar",
        "settings": [
          {
            "type": "text",
            "id": "icon_name",
            "label": "Icon name",
            "info": "Copy/paste from here: https://material.io/resources/icons/?style=outline"
          },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "description",
            "label": "Description"
          }
        ]
      }
    ],
     "presets": [
      {
        "name": "Validation bar",
        "category": "Content",
        "blocks": [
          {
            "type": "content"
          },
          {
            "type": "content"
          },
          {
            "type": "content"
          }
        ]
      }
    ]
  }
{% endschema %}
