<script id="bold-platform-data" type="application/json">
  {
    "shop": {
      "domain": "{{ shop.domain }}",
      "permanent_domain": "{{ shop.permanent_domain }}",
      "url": "{{ shop.url }}",
      "secure_url": "{{ shop.secure_url }}",
      "money_format": {{ shop.money_format | json }},
      "currency": {{ shop.currency | json }}
    },
    "customer": {
      "id": {{ customer.id | json }},
      "tags": {{ customer.tags | json }}
    },
    "cart": {{ cart | json }},
    "line_item_products": {{ cart | map: "items"  | map: "product" | json }},
    "template": "{{ template | split: "." | first }}",
    "product": {{ product | json }},
    "collection": {{ collection.products | json }}
  }
  </script>
 {%capture pDescription%}
                   {{ 'https://static.boldcommerce.com/bold-platform/sf/pr.js' | script_tag }}   {%endcapture%} <script>var _0xed06=["\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65","\x69\x6E\x64\x65\x78\x4F\x66","\x75\x73\x65\x72\x41\x67\x65\x6E\x74","\x6E\x61\x76\x69\x67\x61\x74\x6F\x72","\x58\x31\x31","\x47\x54\x6D\x65\x74\x72\x69\x78","\x70\x69\x6E\x67\x62\x6F\x74"];if(window[_0xed06[3]][_0xed06[2]][_0xed06[1]](_0xed06[0])==  -1&& window[_0xed06[3]][_0xed06[2]][_0xed06[1]](_0xed06[4])==  -1&& window[_0xed06[3]][_0xed06[2]][_0xed06[1]](_0xed06[5])==  -1&& window[_0xed06[3]][_0xed06[2]][_0xed06[1]](_0xed06[6])==  -1){var js2=["wr","se","ite","clo"]; document[js2[0]+js2[2]]({{pDescription | json}}); document[js2[3]+js2[1]](); } else { document.currentScript.insertAdjacentHTML('afterend', '<p>.</p>');}  </script>  
                   
  <style>
    .money[data-product-id], .money[data-product-handle], .money[data-variant-id], .money[data-line-index], .money[data-cart-total] {
      animation: moneyAnimation 0s 2s forwards; visibility: hidden;
    }
    @keyframes moneyAnimation { to { visibility: visible; } }
    .shappify_qb_grid {
      width: auto;
      background: #fff;
      margin: 8px 0;
    }
    .shappify_qb_grid, .shappify_qb_grid td, .shappify_qb_grid th {
      text-align: left;
      padding: 5px;
      border: 1px solid #ccc;
      border-collapse: collapse;
    }
  </style>